@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cigarette: #D4A574;
  --ashed: #1C1C1C;
  --ink: #1A1A1A;
  --white: #FFFFFF;
}

body {
  color: var(--ink);
  background: var(--white);
}
